mohan32189/ChatGPT API.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AddQuestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddQuestion": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-11T18:41:34.091Z",
  "id": "bZTQd4VZbxSAAxJF",
  "name": "ChatGPT API",
  "nodes": [
    {
      "parameters": {
        "path": "2962f4af-b637-4696-bfe5-3c13956b5814",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5306d12c-fd6a-435e-a4cb-24178345c8e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "webhookId": "2962f4af-b637-4696-bfe5-3c13956b5814"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "4d594469-250a-456b-9e19-a59bff6c8fdf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        280
      ],
      "webhookId": "1ecff99b-452c-4ef6-96c6-bb5665ea3154"
    },
    {
      "parameters": {
        "url": "=https://pocketbase.mikrowsoft.com/api/collections/ChatGPTUsers/records/{{ $json.id.trim() }}",
        "options": {}
      },
      "id": "bc9809ab-1cf1-4e68-b63f-4fd612b18acd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        280
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "a07f5836-f6f2-4ef5-ae23-4e9e14c072ac",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1480,
        580
      ],
      "webhookId": "1bfe2fdc-9b96-4ff8-a8e5-8a16810e9479"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Answer }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "87092caf-4623-454b-b98d-124586c25506",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "792a408b-807c-41d8-9d64-f5d56d184066",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1840,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pocketbase.mikrowsoft.com/api/collections/ChatGPTUsers/records",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Question",
              "value": "={{ $json.query.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d70db35-10b5-45fe-a25c-87d128de87fa",
      "name": "AddQuestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        280
      ],
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://pocketbase.mikrowsoft.com/api/collections/ChatGPTUsers/records/{{ $json.id }}",
        "options": {}
      },
      "id": "474320a4-0426-4bc4-b45b-7e1a0cb9e673",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        420
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-30T22:49:38.000Z",
  "versionId": "189da756-4689-4250-9aeb-d5b736a8164c"
}